<div class="home-wrapper">
    <div class="navbar navbar-default navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#landing"><img src="./app-content/img/Twim_logo_white.png"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#landing" class="active">TWIM</a></li>
                    <li><a href="#about-us">ABOUT US</a></li>
                    <li><a href="#screens">SCREENS</a></li>
                    <li><a href="#team">TEAM</a></li>
                    <li><a href="#contact">CONTACT US</a></li>
                    <li><a href="#/login">LOGIN</a></li>
                    <li><a href="#/register" id="signup-link">SIGN UP</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="landing">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>The Wonderful Improvised Messenger</p>
        </div>
        <div class="row">
            <img class="responsive-image" src="./app-content/img/devices.png">
        </div>
    </div>

    <div class="container" id="about-us">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" id="welcome-box">
                Welcome to <img src="./app-content/img/twim-color.png" class="image-responsive">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7" id="welcome-text">
                TWIM is here to give you all the functionality of an instant messaging app,
                available anytime anywhere, without the need to have it installed on your device -
                all you need is a good Internet connection.
            </div>
        </div>
        <div class="row" id="about-features">
            <div class="about-box col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="./app-content/img/three.png" class="image-holder image-responsive">
                <p><b>Three</b> different chatroom styles</p>
            </div>
            <div class="about-box col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="./app-content/img/diffDevices.jpg" class="image-holder image-responsive">
                <p>Connect from <b>any device</b></p>
            </div>
            <div class="about-box col-xs-12 col-sm-12 col-md-4 col-lg-4">
                <img src="./app-content/img/install.png" class="image-holder image-responsive">
                <p><b>No installation</b> needed</p>
            </div>
        </div>
    </div>
    <div class="container" id="screens">

        <div class="screen col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img src="./app-content/img/Twim_Dashboard.png" class="sm-screen">
            <img src="./app-content/img/bullet.png" class="bullet">
            Create as many chatrooms as you wish, manage them and connect with all your friends and contacts
        </div>
        <div class="screen col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img src="./app-content/img/Twim-ChatRoom.jpg" class="sm-screen">
            <img src="./app-content/img/bullet.png" class="bullet">
            Write instant messages and enjoy the beautiful and simplistic design
        </div>
        <div class="screen col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <img src="./app-content/img/Twim-StickyNotes.png" class="sm-screen">
            <img src="./app-content/img/bullet.png" class="bullet">
            Or have fun with the other innovative chatroom styles for work, pictures and sticky notes board
        </div>

    </div>
    <div class="container" id="team">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="team-text">
                The amazing team behind <span>TWIM</span>
            </div>
        </div>
        <div class="profile-holder col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img src="./app-content/img/marry.jpg" class="profile-pic responsive-image">
            <div class="profile-info">
                <div><a href="https://www.facebook.com/mhristoforova"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
                <div><a href="https://bg.linkedin.com/in/maria-hristoforova-b0a32155"><i class="fa fa-linkedin"
                                                                                         aria-hidden="true"></i></a>
                </div>
                <div><a href="mailto:maria@softuni.bg"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></div>
            </div>
        </div>
        <div class="profile-holder col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img src="./app-content/img/ivcho.jpg" class="profile-pic responsive-image">
            <div class="profile-info">
                <div><a href="https://www.facebook.com/ivaylo.jelev.7"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
                <div><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                <div><a href="mailto:ivo@softuni.bg"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></div>
            </div>
        </div>
        <div class="profile-holder col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <img src="./app-content/img/ivelina.jpg" class="profile-pic responsive-image">
            <div class="profile-info">
                <div><a href="https://www.facebook.com/ivelina.vassileva.4"><i class="fa fa-facebook"
                                                                               aria-hidden="true"></i></a></div>
                <div><a href="https://bg.linkedin.com/in/ivelinavasileva"><i class="fa fa-linkedin"
                                                                             aria-hidden="true"></i></a></div>
                <div><a href="mailto:ivelina.p.vasileva@gmail.com"><i class="fa fa-envelope-o"
                                                                      aria-hidden="true"></i></a></div>
            </div>
        </div>
    </div>
    <div class="container" id="contact">
        <div id="contact-text" class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            Have a question? Want to work with us?
            Or you want to share with us something?
            <br>
            <br>
            Message us using our quick and easy
            contact form!
        </div>
        <div id="contact-form" class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <p>Leave us a message and we’ll shot you a
                reply as soon as possible!</p>
            <form>
                <div class="form-group">
                    <label for="name">Full Name</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user" aria-hidden="false"></i></div>
                        <input type="text" class="form-control" id="name" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-align-justify" aria-hidden="true"></i></div>
                        <textarea type="text" class="form-control" id="message" placeholder="Message"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-default" id="submit-btn">SEND</button>
            </form>
        </div>
    </div>
</div>