<div class="login-wrapper">
    <div class="login-container">
        <img class="logo-small" src="../app-content/img/logo-small.png" alt="Twim Chat Logo">
        <form class="login-form">
            <input class="username-input" ng-model="username" type="text" placeholder="Username">
            <input class="password-input" ng-model="password" type="password" placeholder="Password">
            <button class="login-button" ng-click="login()">Log In</button>
        </form>
        <a class="register-link" href="#/register">Don't have an account? <b>Register nоw.</b></a>
    </div>
</div>