<div class="register-wrapper">
    <div class="login-container">
        <img class="logo-small" src="../app-content/img/logo-small.png" alt="Twim Chat Logo">
        <form class="login-form">
            <input class="username-input" ng-model="username" type="text" placeholder="Username">
            <input class="password-input" ng-model="password" type="password" placeholder="Password">
            <input class="email-input" ng-model="email" type="text" placeholder="E-mail">
            <button class="login-button" ng-click="register()">Register</button>
        </form>
        <a class="register-link" href="#/login">Already have an account? <b>Log In.</b></a>
    </div>
</div>