<div class="rooms-wrapper">
    <header>
        <h1 class="welcome-message">Hello <b>{{username}}</b></h1>
        <img class="profile-picture" src="../app-content/img/default-picture.png" alt="user-photo">
        <div class="online label">
            <div class="circle"></div>
            <p>Online</p>
        </div>
        <nav>
            <ul class="nav-bar">
                <li class="nav-item active hvr-sweep-to-top">
                    <a href="#/rooms">Chat Rooms</a>
                </li>
                <li class="nav-item active">
                    <!--<a href="#/sticky-notes">Sticky Notes</a>-->
                    <a href="#/rooms">Sticky Notes</a>
                </li>

                <li class="nav-item inactive">
                    <a href="#/rooms">Friends</a>
                </li>

                <li class="nav-item inactive">
                    <a href="#/rooms">Profile</a>
                </li>

                <li class="nav-item inactive">
                    <a href="#/rooms">Pictures</a>
                </li>

                <li class="nav-item inactive">
                    <a href="#/rooms">Settings</a>
                </li>

                <li class="nav-item active hvr-sweep-to-top">
                    <a href="#/">Log Out</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <ul class="chat-rooms-display">
            <li class="chat-room-container create-chat-room">
                <button class="new-chat-room-button">Create new chat room</button>
                <input class="room-name-input" type="text" ng-model="room">
                <i class="fa fa-plus-circle fa-2x hvr-grow" ng-click="createRoom()" aria-hidden="true"></i>
            </li>
            <li class="chat-room-container" ng-repeat="chatRoom in chatRooms">
                <h1 class="title-chat">{{chatRoom}}</h1>
                <button class="join-button" ng-click="joinRoom(chatRoom)">Join</button>
            </li>
        </ul>
    </main>
</div>