@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);
@import url(https://fonts.googleapis.com/css?family=Lato);

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    background: url("./img/background.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.header-chat-room{
    background: rgba(51,54,55,0.7);
    height: 100px;
    display: inline-block;
    width:100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.header-message{
    font: 32px Lato-Black;
    color:white;
    text-align: center;
}

.back-link{

    text-decoration: none;
    font: 18px Lato-Light;
    color: #67cd98;
    text-align: center;
    border: 3px solid #67cd98;;
    border-radius: 8px;
    padding:5px;
    display: block;
    margin: 0 auto;
    width: 140px;
}

.back-link:hover{
    color:white;
    background: #67cd98;
}

.chat-area {
    margin: 0 auto;
    width: 50%;
    height: 520px;
}

.message-history {
    top: 0;
    list-style: none;
    padding: 10px;
    overflow: auto;
    height: 95%;
    background: rgba(255,255,255,0.7);
}

.discussion-message {
    width: 100%;
    font: 1.2em Lato-Light;
    padding: 0.5em;
}

::-webkit-input-placeholder {
    color: #565656;
    font: 16px Lato-Light !important;

}

.discussion-message:last-child {
    width: 98.5%;
    font: 1.2em Lato-Light;
    padding: 0.5em;
    border-bottom: none;
}

.form-holder * {
    margin: 0;
    padding: 0;
    font: 12pt Lato-Light;
}

.form-holder {
    display: flex;
    position: fixed;
    margin-top: 0;
    width: 50%;
    margin: 0 auto;
    bottom: 0;
    flex-direction: row;
    border: none;

}

.form-holder > input[type=text],
.form-holder > button {
    display: block;
    font: 16px Lato-Light;
}

.form-holder > input[type=text] {
    flex: 1;
    padding: 0.6em;
}

.message-box:focus{
    outline: none;
}
.form-holder > button {
    font: 14px Lato-Black;
    color: white;
    padding: 0px 20px 0px 20px;
    height: 48px;
    border: 3px solid #67cd98;
    background:#67cd98;
}

.form-holder > button:hover{
    color:white;
    background: #67cd98;
}
