 body {
     -webkit-animation: fadein 1s;
     animation: fadein 1s;
 }

 .home-wrapper {
     position: relative;
     width: 100vm;
     background-image: url("./img/installBG.png");
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
 }

 .navbar {
     width: 100vw;
     background: rgba(56, 56, 56, 0.6);
     border: none;
     color: white;
 }

 .navbar-default .navbar-nav>li>a {
     color: white;
 }

 .navbar-brand {
     margin-right: 100%;
 }

 .navbar-right {
     margin-right: 10%;
 }

 .navbar-brand img {
     height: 150%;
 }

 #signup-link {
     border: 1px solid white;
     border-radius: 10px;
     margin: 15%;
     width: 100%;
     padding: 2px 10px;
 }

 #signup-link:hover {
     border: 1px solid black;
 }

 .container {
     width: 100%;
     height: 100vh;
 }

 #landing {
     background-image: url("./img/landingBG2.png");
     color: white;
     background-size: cover;
     position: relative;
     padding: 5%;
     padding-bottom: 0;
 }

 #landing p {
     font: 14px Phenomena;
     font-weight: 300;
     font-size: 10vh;
     padding-left: 5%;
 }

 #landing img {
     float: right;
     margin-right: 0;
     margin-bottom: 0;
     width: 65%;
     padding-top: 3%;
 }

 #about-us {
     position: relative;
 }

 #about-us .row {
     height: 50vh;
 }

 #welcome-box {
     background: #41bead;
     height: 100%;
     padding: 2%;
     text-align: center;
     color: white;
     font-family: Lato;
     font-weight: 300;
     font-size: 5vh;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #welcome-box img {
     margin-left: 8%;
 }

 #welcome-text {
     height: 100%;
     font-family: Lato;
     font-weight: 300;
     font-size: 4vh;
     padding: 4%;
     text-align: left;
     display: flex;
     align-items: center;
     background: white;
 }

 #welcome-text span {
     color: #41bead;
 }

 #about-features {
     height: 100%;
     background: #f3f3f3;
 }

 .about-box {
     padding: 3%;
     padding-bottom: 0;
     text-align: center;
     align-content: center;
 }

 .about-box p {
     font-family: Lato;
     font-weight: 300;
     font-size: 3vh;
     margin-top: 5%;
     margin-bottom: 1%;
 }

 .image-holder {
     background: #4fbf94;
     border-radius: 50%;
     height: 200px;
     width: 200px;
     margin: auto;
 }

 #features {
     background: transparent;
     position: relative;
 }

 #screens {
    position: relative;
 }

 .screen {
     position: relative;
     padding-top: 10%;
     text-align: center;
 }

 .screen .sm-screen{
     width: 100%;
     height: 100%;
     max-width: 400px;
     display: block;
     margin: 0 auto;
     box-shadow: 0 0 20px #000000;
 }

 .screen .bullet {
     width: 100%;
     height: 100%;
     max-width: 400px;
     display: block;
     margin: 0 auto;
 }

 #screens #multiple-screens {
     height: 20vh;
     background: transparent;
     position: relative;
     padding-top: 1%;
 }

 #multiple-screens>div {
     position: relative;
 }

 #screens #big-screen{
     height: 80vh;
     background: transparent;
     position: relative;
     padding-left: 10%;
     padding-right: 10%;
     padding-top: 2%;
     padding-bottom: 2%;
 }

 #main-screen {
     width: 80%;
     display:block;
     margin:auto;
 }

 #team-text {
     color: black;
     font-family: Lato;
     font-weight: 300;
     text-align: center;
     font-size: 5vh;
     padding: 3%;
 }

 #team-text span {
     font-family: Lato;
     font-weight: 700;
     color: #00afc1;
 }

 .profile-holder {
     margin-top: 5%;
 }

 .profile-pic {
     width: 60%;
     display:block;
     margin:auto;
 }

 .profile-info {
     width: 60%;
     height: 15%;
     display:block;
     margin:auto;
     background: #00afc1;
 }

 .profile-info div {
     padding: 5%;
     display: inline-block;
     width: 30%;
 }

 .profile-info i {
     padding: 5%;
     display: block;
     margin: auto;
     color: white;
     font-size: 2em;
     margin-left: 10%;
 }

 .profile-info i:hover {
     color: #565656;
 }

 .profile-info a:hover {
     text-decoration: none;
 }

 #contact {
     color: white;
     background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("./img/contactBG.png");
     background-size: cover;
     position: relative;
     padding: 5%;
 }

 #contact-text {
     height: 100%;
     font-family: Lato;
     font-weight: 300;
     font-size: 5vh;
     padding: 4%;
     text-align: left;
     display: flex;
     align-items: center;
 }

 #contact-form {
     padding-left: 0;
     padding-right: 0;
     height: 80vh;
     background: #eff0f0;
 }

 #contact-form p {
     color: #565656;
     font-size: 1.5em;
     font-family: Lato;
     font-weight: 300;
     padding: 10%;
     padding-top: 5%;
     padding-bottom: 2%;
 }

 #contact-form form {
     background: #e8e7e6;
     height: 90%;
     bottom: 0;
     width: 100%;
     color: #565656;
     padding: 10%;
     font-family: Lato;
     font-weight: 300;
     font-size: 1em;
 }

 .form-control {
     background: #dadada;
     border-radius: 0;
     border: none;
 }

 .input-group-addon {
     background: #4fbf94;
     border-radius: 0;
     border: none;
     color: white;
 }

 #submit-btn {
     border: 2px solid #4fbf94;
     color: #4fbf94;
     background: transparent;
     font-family: Lato;
     font-weight: 300;
     z-index: 1;
     width: 100%;
 }

 #submit-btn:hover{
     background: #4fbf94;
     color: #dadada;
 }

 @-webkit-keyframes fadein {
     from {opacity: 0}
     to {opacity: 1}
 }

 @-webkit-keyframes appear-text {
     from {opacity: 0}
     to {opacity: 1}
 }





