@import 'https://fonts.googleapis.com/css?family=Lato';

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    background: url("img/background.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}
