@import url(https://fonts.googleapis.com/css?family=Lato);

*{
    margin: 0;
    padding: 0;
}
.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #28292a;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
    color: white;
    cursor: pointer;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    cursor: pointer;
}

.wrapper{
    background: url("img/background.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

header{
    height: 280px;
    background: rgba(51,54,55,0.7);
}

.welcome-message{
    font: 22px Lato-Light;
    color: white;
    text-align: center;
    padding-top: 15px;

}

.profile-picture{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.label{
    width: 100px;
    height: 20px;
    padding: 10px;
    border: 2px solid #686969;
    border-radius: 30px;
    display: inline-block;
    margin-left: calc(50% - 60px);
    margin-top: 20px;
}

.label > p{
    font: 16px Lato-Light;
    color: #cccccc;
}

.circle{
    float: left;
    height:8px;
    width:8px;
    border-radius: 50%;
    border: 8px solid #4fbf94;
    margin-right: 15px;
    margin-left: 5px;
}

.nav-bar{
text-align: center;
}

.nav-bar > .nav-item{
    display: inline-block;
    padding: 20px 30px 20px 20px;
}

.nav-item > a{
    text-decoration: none;
    font: 16px Lato-Light;
    color:white;
    padding: 20px;
}

.inactive{
color: #a2a2a2;
}

.chat-rooms-display{
    text-align: center;
}

.chat-room-container{
    display: flex-box;
    float:left;
    padding: 50px;
    margin: 60px;
    width: 160px;
    height: 160px;
    background: rgba(103,205,152,0.8);
    list-style-type: none;
}

.new-chat-room-button {
    border: none;
    background: none;
    font: 25px Lato-Black;
    color: white;
}

.fa-plus-circle{
    padding:20px;
    color: #ffffff;
}

.join-button{
    border: 2px solid white;
    border-radius: 8px;
    padding: 10px;
    background:none;
    font: 16px Lato;
    color:white;
}


